<%= content_for :stylesheets do %>
<style type="text/css">
  body {
    padding: 4em 6em;
    font-family: Calibri;
  }

  h2 {
    margin: 2em 0 0 0;
  }
  h2:first-child { margin-top: 0; }

  table {
    table-layout: fixed;
  }

  thead th {
    max-width: 3em;
  }

  tbody th {
    text-align: right;
    padding-right: 1.5em;
  }

  thead th span {
    display: block;
-moz-transform: rotate(90deg);  /* FF3.5+ */
 -o-transform: rotate(90deg);  /* Opera 10.5 */
-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
       filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90);  /* IE6,IE7 */
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; /* IE8 */

    text-align: right;
    width: 8em;
    height: 5em;
    position: relative;
    left: -3.25em;
    top: -2.75em;
  }

  img {
    width: 5em;
    height: 5em;
    -webkit-filter: grayscale(25%);
    -moz-filter: grayscale(25%);
    filter: grayscale(25%);
    opacity: 0.75;
    cursor: pointer;
  }
  img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    opacity: 1;
  }
  dl dt {
    padding: 0.25em 0;
    clear: left;
    float: left;
    height: 2.33em;
  }
  dl dt img {
    width: 2.33em;
    height: 2.33em;
  }
  dl dd {
    padding: 0.25em 0;
    height: 2.33em;
    line-height: 2.33em;
    margin-left: 4em;
  }
</style>
<% end %>

<h2> Pairs </h2>

<table id="teams"></table>

<h2> Retired Pairs </h2>

<dl>
  <dt><img src="//www.gravatar.com/avatar/862a4ed9415bad8bff6d35daebece87b?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Bob  and Gene 0pair=bob.lail+gene.doyel@cphepdev.com"></dt><dd>Bob and Gene</dd>
  <dt><img src="//www.gravatar.com/avatar/94331340203d5ef54953f3d5357f2ed5?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Bob  and Jesse 0pair=bob.lail+jesse.lewis@cphepdev.com"></dt><dd>Bob and Jesse</dd>
  <dt><img src="//www.gravatar.com/avatar/9097fee4b1cc8c952b67d1cc5a3f1459?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Bob  and Kendall 0pair=bob.lail+kendall.park@cphepdev.com"></dt><dd>Bob and Kendall</dd>
  <dt><img src="//www.gravatar.com/avatar/e27dab0482528a00eb9826f654324471?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Ben  and Chase 0pair=ben.govero+chase.clettenberg@cphepdev.com"></dt><dd>Ben and Chase</dd>
  <dt><img src="//www.gravatar.com/avatar/d4a4eb753fa149f654df1bfa1ec1d8ae?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Ben  and Kendall 0pair=ben.govero+kendall.park@cphepdev.com"></dt><dd>Ben and Kendall</dd>
  <dt><img src="//www.gravatar.com/avatar/5226dcb49c685ac4ce77d6fce67f685c?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Ben  and Ordie 0pair=ben.govero+ordie.page@cphepdev.com"></dt><dd>Ben and Ordie</dd>
  <dt><img src="//www.gravatar.com/avatar/2ad3cbe9c86fbae642b82808292b831d?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Chase  and Gene 0pair=chase.clettenberg+gene.doyel@cphepdev.com"></dt><dd>Chase and Gene</dd>
  <dt><img src="//www.gravatar.com/avatar/87a232a0a05a504609ffd8f71e3c4721?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Chase  and Matt 0pair=chase.clettenberg+matt.kobs@cphepdev.com"></dt><dd>Chase and Matt</dd>
  <dt><img src="//www.gravatar.com/avatar/4f416e01ca2311544e9f12f11e17053a?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Gene  and Luke 0pair=gene.doyel+luke.booth@cphepdev.com"></dt><dd>Gene and Luke</dd>
  <dt><img src="//www.gravatar.com/avatar/3866e09f7b9099fcbda4f1341c5a82c1?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Gene  and Kendall 0pair=gene.doyel+kendall.park@cphepdev.com"></dt><dd>Gene and Kendall</dd>
  <dt><img src="//www.gravatar.com/avatar/17fc9b015094ca5a677bc02f269da065?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Jesse  and Kendall 0pair=jesse.lewis+kendall.park@cphepdev.com"></dt><dd>Jesse and Kendall</dd>
  <dt><img src="//www.gravatar.com/avatar/c36cde11d8592701bac4b48c79ec0e8f?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Jesse  and Luke 0pair=jesse.lewis+luke.booth@cphepdev.com"></dt><dd>Jesse and Luke</dd>
  <dt><img src="//www.gravatar.com/avatar/343b97ac7923c76e20008a889d30f6ff?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Jesse  and Ordie 0pair=jesse.lewis+ordie.page@cphepdev.com"></dt><dd>Jesse and Ordie</dd>
  <dt><img src="//www.gravatar.com/avatar/c430f2324856dae44379dc323edbfebe?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Gene  and Ordie 0pair=gene.doyel+ordie.page@cphepdev.com"></dt><dd>Gene and Ordie</dd>
  <dt><img src="//www.gravatar.com/avatar/780c5dcdb1414f5d83661fcd1c115100?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Kendall  and Luke 0pair=kendall.park+luke.booth@cphepdev.com"></dt><dd>Kendall and Luke</dd>
  <dt><img src="//www.gravatar.com/avatar/17efe4f8d4b7bc211afadd337aa03f48?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Kendall  and Ordie 0pair=kendall.park+ordie.page@cphepdev.com"></dt><dd>Kendall and Ordie</dd>
  <dt><img src="//www.gravatar.com/avatar/0f58b68ae308276ee74d1542facf647f?r=g&amp;d=http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg&amp;s=256" width="256" height="256" rel="tooltip" title="" data-original-title="Luke  and Ordie 0pair=luke.booth+ordie.page@cphepdev.com"></dt><dd>Luke and Ordie</dd>
<dl>


<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var md, html, committers, email, url, teammates = [
      'Ben <ben.govero@cph.org>',
      // 'Gene <gene.doyel@cph.org>',
      // 'Ordie <ordie.page@cph.org>',
      // 'Kendall <kendall.park@cph.org>',
      // 'Chase <chase.clettenberg@cph.org>',
      // 'Jesse <jesse.lewis@cph.org>',
      'Bob <bob.lail@cph.org>',
      'Luke <luke.booth@cph.org>',
      'Matt <matt.kobs@cph.org>',
      'Rob <rob.riebau@cph.org>' ];

    teammates = _.map(teammates, function(email) {
      md = email.match(/^([^<]+)<(([^@]+)@[^>]+)>$/);
      return { displayName: md[1], email: md[2], local: md[3] };
    });
    var size = 256, d = encodeURI('http://www.4p8.com/eric.brasseur/gamma_gray_186_pixel.jpg');

    var pairs = [null].concat(teammates.slice(1).reverse()),
    html = '<thead><tr><th></th>';
    _.each(pairs, function(pair) {
      html += '<th><span>' + (pair ? pair.displayName : '') + '</span></th>';
    });
    html += '</tr></thead><tbody>';

    var take = teammates.length;
    _.each(teammates, function(person) {
      html += '<tr><th>' + person.displayName + '</th>';
      _.each(_.take(pairs, take), function(pair) {
        if(!pair) {
          email = person.email;
          name = person.displayName;
        } else {
          committers = _.sortBy([person, pair], function(person) { return person.local; });
          email = 'pair=' + committers[0].local + '+' + committers[1].local + '@cphepdev.com';
          name = committers[0].displayName + ' and ' + committers[1].displayName;
        }

        url = '//www.gravatar.com/avatar/' + MD5(email.toLowerCase().trim()) + '?r=g&d=' + d + '&s=' + size;
        html += '<td><img src="' + url + '" width="' + size + '" height="' + size + '" rel="tooltip" title="' + name + + '\n' + email + '" /></td>';
      });
      html += '</tr>';
      take -= 1;
    });
    html += '</tbody>';

    $('#teams').html(html);
    $('[rel=tooltip]').tooltip();
  });
</script>
<% end %>
