<table id="on-staging">
  <%= render "on_staging" %>
</table>

<div class="dashboards-divider-releases">
  <label><i class="fa fa-caret-up"></i> On Staging</label>
  <hr>
  <label><i class="fa fa-caret-down"></i> Up Next</label>
</div>

<table id="up-next">
  <%= render "up_next" %>
</table>
